<ul class="vin-decoded">
	<li><span>VIN:</span> <%= @vin_info['vin']%> </li>
	<li><span>Year:</span> <%= @vin_info['years'][0]['year'] %></li>
	<li><span>Make:</span> <%= @vin_info['make']['name'] %></li>
	<li><span>Model:</span> <%= @vin_info['model']['name'] %></li>
	<li><span>Vehicle Style:</span> <%= @vin_info['categories']['vehicleStyle'] %> </li>
	<li><span>Body Type:</span> <%= @vin_info['categories']['primaryBodyType'] %></li>
	<li><span>EPA Class:</span> <%= @vin_info['categories']['EPAClass'] %></li>
	<li><span>Driven Wheels:</span> <%= @vin_info['drivenWheels'] %></li>
	<li><span>Number Of Doors:</span> <%= @vin_info['numOfDoors'] %></li>
	<li><span>True Market Value:</span> $<%= @vin_info['price']['usedTmvRetail']%></li>
	<li><span>Used Private Party Value:</span> $<%= @vin_info['price']['usedPrivateParty'] %> </li>
	<li><span>Used Trade-In Value:</span> $<%= @vin_info['price']['usedTradeIn'] %> </li>
	<button><%= link_to "Decode another VIN", vin_decoders_new_path %></button>
</ul>