<%= form_for(@maint, url: vehicle_maintenances_path) do |f| %>
  <% if @maint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maint.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @maint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maintenance_type_id, "Maintenance Type" %>
    <%= collection_select(:maintenance, :maintenance_type_id, MaintenanceType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :mileage, "Mileage"  %>
    <%= f.text_field :mileage  %>
  </div>
  <div class="field">
    <%= f.label :shop_name, "Shop Name" %>
    <%= f.text_field :shop_name %>
  </div>
  <div class="field">
    <%= f.label :date, "Date"%>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.submit "Create Maintenance Record" %>
  </div>
<% end %>



