<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :vehicle_make, "Make" %>
    <select id="make" name="vehicle[vehicle_make]">
      <% make = Edmunds::Make.new.find_new_and_used %>
      <% makes_array = make.map {|make| make['name'] } %>
      <%= options_for_select(makes_array) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_model_year, "Year" %>
    <select name="vehicle[vehicle_model_year]">
      <% year = Edmunds::ModelYear.new.find_distinct_year_with_new_or_used %>
      <%= options_for_select(year) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_model, "Model" %><br>
    <select name="vehicle[vehicle_model]">
      <% model_sel = Edmunds::Model.new.find_models_by_make_and_year("Honda", 2012) %>
      <% models_array = model_sel.map {|model| model['name']} %>
      <%= options_for_select(models_array) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_trim, "Trim ex.(SE, EX, LX, GDI, GT, Limited, S, TDI, etc)"%><br>
    <%= f.text_field :vehicle_trim %>
  </div>
  <div class="field">
    <%= f.label :vehicle_style, "Engine Size"%><br>
    <%= f.text_field :vehicle_style %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>


