<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :vehicle_make %>
    <select name="vehicle[vehicle_make]">
      <% makes_array = @makes.each { |make| make } %>
      <%= options_for_select(makes_array) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_model_year %>
    <select name="vehicle[vehicle_model_year]">
      <% years_array = @years.each { |year| year } %>
      <%= options_for_select(years_array) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :vehicle_model%><br>
    <%= f.text_field :vehicle_model %>
  </div>
  <div class="field">
    <%= f.label :vehicle_trim%><br>
    <%= f.text_field :vehicle_trim %>
  </div>
  <div class="field">
    <%= f.label :vehicle_style%><br>
    <%= f.text_field :vehicle_style %>
  </div>
    <%= f.submit %>
  </div>
<% end %>


