<div class="back_link"><%= link_to 'Back', vehicles_path %></div>
<div class="delete_vlink"><%= link_to "Delete Vehicle", @vehicle, method: :delete %></div>

<ul>
	<%= @vehicle.vehicle_make %>
	<%= @vehicle.vehicle_model %>
	<%= @vehicle.vehicle_model_year %>
	<%= @vehicle.vehicle_trim %>
	<%= @vehicle.vehicle_style %><br />
	<%= link_to "Add To Record", new_vehicle_maintenance_path(@vehicle, @maint) %>
</ul>

<ul>
<% @vehicle.maintenances.each do |maint| %><br />
	<li>Maintenance Category: <%= maint.maintenance_type.name %></li>
	<li>Date Performed: <%= maint.date.to_time.strftime('%B %e, %Y') %></li>
	<li>Shop: <%= maint.shop_name %></li>
	<li>Mileage: <%= maint.mileage %></li>
	<li><%= link_to "Delete Record", vehicle_maintenance_path(@vehicle, maint), method: :delete %></li>
<% end %>
</ul>




