<!DOCTYPE html>
<html>
<head>
  <title>Docarmation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

</head>
<body>
  <hgroup>        
    <h1 class="site-name">Docarmation</h1>
    <h3 class="slogan">Vehicles have needs too...</h3>
  </hgroup>
<div class="menu">
   <ul>
      <li><%= link_to "Home", homes_path %></li>
      <li><%= link_to "My Vehicle" %>
         <ul>
            <li><%= link_to "Add a Vehicle", new_vehicle_path %></li>
            <li><%= link_to "View My Vehicles", vehicles_path %></li>
         </ul>
      </li>
      <li><%= link_to "VIN Decoder", vin_decoders_new_path %></li>
      <li><%= link_to "Account" %>
         <ul>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
         </ul>
      </li>
   </ul>
</div>

<%= yield %>

</body>

<div id="container">
   <div id="header"></div>
   <div id="body"></div>
   <div id="footer">&copy; 2014 Docarmation | <a href="/homes">Home</a> | <a href="  /homes/credit">Credits</a> | <a href="/homes/terms">Terms of Use</a> | <a href="mailto:s.hernandez5400@gmail.com">Contact Me</a> </div>
</div>
</html>
